/* reset */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;800&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.4/dist/web/static/pretendard.css");
* {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", "Pretendard", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  cursor: pointer;
}

input {
  box-shadow: none;
  appearance: none;
}

input:focus {
  outline: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.container .row {
  display: flex;
  flex-wrap: wrap;
}
.container [class*=col-] {
  padding: 0 10px;
}
.container .col-lg-1 {
  width: 100px;
}
.container .col-lg-2 {
  width: 200px;
}
.container .col-lg-3 {
  width: 300px;
}
.container .col-lg-4 {
  width: 400px;
}
.container .col-lg-5 {
  width: 500px;
}
.container .col-lg-6 {
  width: 600px;
}
.container .col-lg-7 {
  width: 700px;
}
.container .col-lg-8 {
  width: 800px;
}
.container .col-lg-9 {
  width: 900px;
}
.container .col-lg-10 {
  width: 1000px;
}
.container .col-lg-11 {
  width: 1100px;
}
.container .col-lg-12 {
  width: 1200px;
}
@media screen and (max-width: 1199px) {
  .container {
    width: 100%;
    padding: 0 40px;
  }
  .container .col-md-1 {
    width: 8.3333333333%;
  }
  .container .col-md-2 {
    width: 16.6666666667%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-4 {
    width: 33.3333333333%;
  }
  .container .col-md-5 {
    width: 41.6666666667%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-7 {
    width: 58.3333333333%;
  }
  .container .col-md-8 {
    width: 66.6666666667%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-10 {
    width: 83.3333333333%;
  }
  .container .col-md-11 {
    width: 91.6666666667%;
  }
  .container .col-md-12 {
    width: 100%;
  }
}
@media screen and (max-width: 750px) {
  .container {
    padding: 0 16px;
  }
  .container .col-sm-1 {
    width: 25%;
  }
  .container .col-sm-2 {
    width: 50%;
  }
  .container .col-sm-3 {
    width: 75%;
  }
  .container .col-sm-4 {
    width: 100%;
  }
}

.header .container {
  width: 100%;
}
.header .inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 40px;
}
.header .logo a {
  display: block;
  width: 40px;
  height: 40px;
}
.header .logo a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.header .menu-pc .list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .menu-pc .list .item a {
  font-size: 18px;
  line-height: 1;
  text-transform: capitalize;
}
.header .menu-pc .list .item:not(:last-child) a {
  position: relative;
  color: #000;
}
.header .menu-pc .list .item:not(:last-child) a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2em;
  left: 50%;
  width: 0;
  height: calc(1px + 0.1em);
  background: #000;
  transition: 0.2s;
}
.header .menu-pc .list .item:last-child {
  transform: translateY(0);
  transition: transform 0.3s;
}
.header .menu-pc .list .item:last-child a {
  padding: 6px 20px;
  color: #fff;
  background: #000;
  border: 2px solid #000;
  border-radius: 100px;
}
.header .menu-pc .list .item:hover:not(:last-child) a::after, .header .menu-pc .list .item.on:not(:last-child) a::after {
  left: 0;
  width: 100%;
}
.header .menu-pc .list .item:hover:last-child, .header .menu-pc .list .item.on:last-child {
  transform: translateY(-4px);
}
.header .btn-call {
  position: relative;
  z-index: 20;
  display: none;
  width: 26px;
  height: 24px;
}
.header .btn-call::before, .header .btn-call::after,
.header .btn-call span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
}
.header .btn-call::before {
  top: 0;
  content: "";
  transition: top 0.1s 0.1s, transform 0.1s 0.2s;
}
.header .btn-call::after {
  bottom: 0;
  content: "";
  transition: bottom 0.1s 0.1s, transform 0.1s 0.2s;
}
.header .btn-call span {
  top: calc(50% - 1px);
  text-indent: -9999px;
  opacity: 1;
  transition: 0.25s;
}
.header .btn-call:hover::before {
  top: calc(50% - 1px);
  transform: rotate(90deg);
}
.header .btn-call:hover::after {
  bottom: calc(50% - 1px);
  transform: rotate(180deg);
}
.header .btn-call:hover span {
  opacity: 0;
}
.header .btn-call.on::before {
  top: calc(50% - 1px);
  transform: rotate(45deg);
}
.header .btn-call.on::after {
  bottom: calc(50% - 1px);
  transform: rotate(-45deg);
}
.header .btn-call.on span {
  opacity: 0;
}
.header .menu-mo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  width: 100%;
  height: 0;
  background-color: rgba(255, 255, 255, 0.95);
  transition: 0.3s ease;
}
.header .menu-mo .list {
  display: none;
}
.header .menu-mo.on {
  height: 100vh;
}
.header .menu-mo.on .list {
  display: block;
  padding: 80px 60px;
}
.header .menu-mo.on .list .item a {
  font-size: 80px;
  line-height: 7.6rem;
  position: relative;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}
.header .menu-mo.on .list .item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 0;
  height: calc(1px + 0.1em);
  background: #000;
  transition: 0.2s;
  bottom: 0;
}
.header .menu-mo.on .list .item:hover a::after {
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .header .inner {
    padding: 0;
  }
  .header .menu-pc {
    display: none;
  }
  .header .btn-call {
    display: block;
  }
  .header .menu-mo {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .header .menu-mo.on .list {
    padding: 40px 20px;
  }
  .header .menu-mo.on .list .item a {
    font-size: 13.6vw;
    line-height: 1.3em;
  }
}

.footer {
  background-color: #f7f7f7;
}
.footer .inner {
  width: 1200px;
  padding: 200px 20px;
  margin: 0 auto;
}
.footer .wrap:nth-of-type(1) {
  content: "";
  display: block;
  clear: both;
  padding-bottom: 40px;
  margin-bottom: 40px;
  overflow: hidden;
  border-bottom: 1px solid #000;
}
.footer .wrap:nth-of-type(1) .footer-logo {
  float: left;
  width: 280px;
}
.footer .wrap:nth-of-type(1) .footer-logo .logo {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 20px;
}
.footer .wrap:nth-of-type(1) .footer-logo .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.footer .wrap:nth-of-type(1) .footer-logo p {
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 12px;
}
.footer .wrap:nth-of-type(1) .footer-logo strong {
  font-size: 15px;
  line-height: 1.4;
  font-weight: 600;
}
.footer .wrap:nth-of-type(1) .footer-nav {
  float: right;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu {
  float: left;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .title {
  font-size: 15px;
  line-height: 1;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .list .item {
  margin-bottom: 20px;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .list .item:last-child {
  margin-bottom: 0;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .list .item a {
  font-size: 15px;
  line-height: 1;
  position: relative;
  color: #000;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .list .item a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 0;
  height: calc(1px + 0.1em);
  background: #000;
  transition: 0.2s;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu .list .item:hover a::after {
  width: 100%;
}
.footer .wrap:nth-of-type(1) .footer-nav .menu:nth-of-type(1) {
  margin-right: 100px;
}
.footer .wrap:nth-of-type(2) .sns {
  float: right;
}
.footer .wrap:nth-of-type(2) .sns li {
  float: left;
  margin-left: 20px;
}
.footer .wrap:nth-of-type(2) .sns li a {
  display: block;
  width: 24px;
  height: 24px;
  color: #000;
}
.footer .wrap:nth-of-type(2) .sns li a i {
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

@media screen and (max-width: 1199px) {
  .footer .inner {
    width: 100%;
    padding: 120px 40px;
  }
  .footer .wrap:nth-of-type(1) .footer-logo {
    width: 100%;
    margin-bottom: 80px;
  }
  .footer .wrap:nth-of-type(1) .footer-logo p {
    font-size: 16px;
    line-height: 1.4;
    width: 50%;
  }
  .footer .wrap:nth-of-type(1) .footer-logo strong {
    font-size: 16px;
    line-height: 1.4;
  }
  .footer .wrap:nth-of-type(1) .footer-nav {
    float: left;
    width: 100%;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu {
    float: left;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu .title {
    font-size: 15px;
    line-height: 1;
    margin-bottom: 20px;
    font-weight: 600;
    text-transform: uppercase;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu .list .item {
    margin-bottom: 20px;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu .list .item:last-child {
    margin-bottom: 0;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu .list .item a {
    font-size: 15px;
    line-height: 1;
    color: #000;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu:nth-of-type(1) {
    margin-right: 100px;
  }
}
@media screen and (max-width: 750px) {
  .footer .wrap:nth-of-type(1) .footer-logo p {
    width: 70%;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu {
    width: 100%;
    margin-bottom: 60px;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu:nth-of-type(1) {
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px solid #f4f5f6;
  }
  .footer .wrap:nth-of-type(1) .footer-nav .menu:last-child {
    margin-bottom: 0;
  }
  .footer .wrap:nth-of-type(1) .footer-nav:nth-of-type(1) {
    margin-right: 0;
  }
  .footer .wrap:nth-of-type(2) .sns {
    float: none;
    margin-top: 20px;
  }
  .footer .wrap:nth-of-type(2) .sns li {
    margin-right: 20px;
    margin-left: 0;
  }
}
.content .page-title {
  font-size: 120px;
  line-height: 300px;
  font-weight: 800;
  text-align: center;
  text-transform: capitalize;
}
.content .pagination {
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
.content .pagination::after {
  content: "";
  display: block;
  clear: both;
}
.content .pagination li {
  float: left;
  margin-right: 10px;
  text-align: center;
}
.content .pagination li:last-child {
  margin-right: 0;
}
.content .pagination li:hover a, .content .pagination li.on a {
  color: #fff;
  background: #000;
  border-radius: 20px;
}
.content .pagination li a {
  display: block;
  font-size: 20px;
  line-height: 1;
  min-width: 32px;
  padding: 0 6px;
  line-height: 32px;
  color: #000;
}
.content .pagination li.prev:hover a, .content .pagination li.next:hover a {
  color: #000;
  background: none;
  border-radius: 0;
  opacity: 1;
}
.content .pagination li.prev a, .content .pagination li.next a {
  padding: 0;
  font-size: 40px;
  opacity: 0.1;
}
.content .pagination li.prev {
  margin-right: 10px;
  transform: rotate(180deg);
}

@media screen and (max-width: 1199px) {
  .content .page-title {
    font-size: 14vw;
  }
  .content .pagination li:nth-child(7) {
    display: none;
  }
  .content .pagination li:nth-child(8) {
    display: none;
  }
  .content .pagination li:nth-child(9) {
    display: none;
  }
  .content .pagination li:nth-child(10) {
    display: none;
  }
  .content .pagination li:nth-child(11) {
    display: none;
  }
}
@media screen and (max-width: 750px) {
  .content .pagination {
    position: static;
    left: auto;
    transform: translateX(0);
  }
  .content .pagination li:nth-child(2) {
    display: none;
  }
  .content .pagination li:nth-child(3) {
    display: none;
  }
  .content .pagination li:nth-child(4) {
    display: none;
  }
  .content .pagination li:nth-child(5) {
    display: none;
  }
  .content .pagination li:nth-child(6) {
    display: none;
  }
  .content .pagination .prev {
    float: left;
  }
  .content .pagination .next {
    float: right;
  }
}
.community .inner {
  position: relative;
}
.community table {
  border-top: 1px solid #000;
  text-align: left;
  margin-bottom: 40px;
  width: 100%;
  table-layout: fixed;
}
.community table tr {
  border-bottom: 1px solid #dde2e7;
  font-size: 15px;
  line-height: 1.4;
}
.community table thead th {
  padding: 10px 0;
  font-weight: 600;
}
.community table thead th:nth-child(2) {
  width: 16%;
}
.community table thead th:nth-child(3) {
  width: 12%;
}
.community table thead th:nth-child(4) {
  width: 8%;
}
.community table thead th:nth-child(5) {
  width: 10%;
}
.community table thead th:last-child {
  opacity: 0;
}
.community table tbody tr:hover {
  background-color: rgba(200, 185, 255, 0.1);
}
.community table tbody td {
  padding: 20px 0;
}
.community table tbody td a {
  color: #000;
}
.community table tbody .data-name .link {
  display: block;
}
.community table tbody .data-name .link:hover .thumb::before {
  opacity: 0;
}
.community table tbody .data-name .link:hover .info .name {
  text-decoration: underline;
}
.community table tbody .data-name .link::after {
  content: "";
  display: block;
  clear: both;
}
.community table tbody .data-name .link .thumb {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  position: relative;
  overflow: hidden;
  margin-right: 15px;
}
.community table tbody .data-name .link .thumb::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
}
.community table tbody .data-name .link .thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.community table tbody .data-name .link .info {
  float: left;
  width: 80%;
}
.community table tbody .data-name .link .info .name {
  font-size: 17px;
  line-height: 1;
  font-weight: 600;
  margin-bottom: 8px;
}
.community table tbody .data-name .link .info .desc {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.community table tbody td:nth-child(2):hover {
  text-decoration: underline;
}
.community table tbody button {
  width: 88px;
  height: 40px;
  background-color: #c7b9ff;
  border-radius: 8px;
  transition: 0.2s;
  display: block;
  margin: 0 auto;
}
.community table tbody button:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 1199px) {
  .community table thead th:nth-child(2) {
    width: 20%;
  }
  .community table thead th:nth-child(4) {
    width: 15%;
    text-align: right;
  }
  .community table thead th:nth-child(3),
.community table thead th:nth-child(5) {
    display: none;
    width: 0%;
  }
  .community table tbody .data-name {
    padding-right: 20px;
  }
  .community table tbody .data-name .link .thumb {
    width: 36px;
    height: 36px;
    border-radius: 8px;
  }
  .community table tbody td:nth-child(4) {
    text-align: right;
  }
  .community table tbody td:nth-child(3),
.community table tbody td:nth-child(5) {
    display: none;
    width: 0%;
  }
}
@media screen and (max-width: 750px) {
  .community table tr {
    font-size: 14px;
  }
  .community table thead th:nth-child(2) {
    display: none;
    width: 0%;
  }
  .community table thead th:nth-child(4) {
    width: 24%;
  }
  .community table tbody .data-name {
    padding-right: 0;
  }
  .community table tbody .data-name .link .thumb {
    width: 24px;
    height: 24px;
    border-radius: 4px;
  }
  .community table tbody .data-name .link .info .name {
    font-size: 15px;
  }
  .community table tbody td:nth-child(2) {
    display: none;
    width: 0%;
  }
}
.join {
  padding-bottom: 120px;
}
.join .container {
  padding-top: 70px;
}
.join .container .row {
  justify-content: space-between;
}
.join .container .row article:first-child {
  order: 2;
}
.join .container .row article:last-child {
  order: 1;
}
.join-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 50px 32px 60px;
  border: 3px solid #000;
  border-radius: 12px;
}
.join-form > h2 {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 40px;
  font-weight: 600;
  text-align: center;
}
.join-form form {
  width: 100%;
}
.join-form .form-div.checkbox label {
  margin-right: 20px;
  line-height: 20px;
}
.join-form .form-div.checkbox label:last-child {
  margin-right: 0;
}
.join-form .form-div.checkbox input[type=checkbox] {
  position: relative;
  width: 20px;
  height: 20px;
  vertical-align: bottom;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 4px;
  transition: 0.2s;
}
.join-form .form-div.checkbox input[type=checkbox]::after {
  position: absolute;
  top: 4px;
  left: 3px;
  display: block;
  width: 9px;
  height: 5px;
  border: 2px solid #fff;
  border-top: 0;
  border-right: 0;
  transform: rotate(-45deg);
}
.join-form .form-div.checkbox input[type=checkbox]:checked {
  background-color: #000;
  border-color: #000;
}
.join-form .form-div.checkbox input[type=checkbox]:checked::after {
  width: 9px;
  height: 5px;
  content: "";
}
.join-form .label-title {
  display: block;
  margin-bottom: 12px;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.5;
}
.join-form form fieldset:nth-of-type(1) .form-div {
  position: relative;
  margin: 0 auto 24px;
}
.join-form form fieldset:nth-of-type(1) .form-div label {
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  line-height: 1;
  position: absolute;
  left: 8px;
  color: #6d6b7d;
  transition: 0.2s;
}
.join-form form fieldset:nth-of-type(1) .form-div input[type=text], .join-form form fieldset:nth-of-type(1) .form-div input[type=tel], .join-form form fieldset:nth-of-type(1) .form-div input[type=password] {
  width: 100%;
  padding: 14px 8px;
  border: 1px solid #000;
  border-radius: 6px;
}
.join-form form fieldset:nth-of-type(1) .form-div input:focus {
  border: 1.5px solid #000;
}
.join-form form fieldset:nth-of-type(1) .form-div input:focus + label {
  font-size: 12px;
  line-height: 1.4;
  top: -2px;
  padding: 2px 6px;
  color: #fff;
  background: #000;
  border-radius: 2px;
}
.join-form form fieldset:nth-of-type(1) .form-div input:not(:placeholder-shown):not(:focus) {
  border: 1.5px solid #000;
}
.join-form form fieldset:nth-of-type(1) .form-div input:not(:placeholder-shown):not(:focus) + label {
  font-size: 12px;
  line-height: 1.4;
  top: 0;
  padding: 0 4px;
  color: #000;
  background-color: #ffc702;
}
.join-form form fieldset:nth-of-type(2) {
  margin-bottom: 30px;
}
.join-form form fieldset:nth-of-type(2) .checkbox {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
}
.join-form form fieldset:nth-of-type(2) .birth-day .inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.join-form form fieldset:nth-of-type(2) .birth-day .inner input[type=tel] {
  width: 33.3333333333%;
  padding: 14px 8px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 6px;
}
.join-form form fieldset:nth-of-type(2) .birth-day .inner select {
  width: 33.3333333333%;
  padding: 14px 8px;
  margin-right: 10px;
  border: 1px solid #000;
  border-radius: 6px;
}
.join-form form fieldset:nth-of-type(2) .birth-day .inner select[name=birthDay] {
  margin-right: 0;
}
.join-form form fieldset:nth-of-type(3) {
  margin-bottom: 40px;
}
.join-form form fieldset:nth-of-type(3) .form-div.checkbox label {
  display: block;
  float: none;
  margin-bottom: 12px;
  font-size: 14px;
}
.join-form form fieldset:nth-of-type(3) .form-div.checkbox label:last-child {
  margin-bottom: 0;
}
.join-form input[type=submit] {
  width: 100%;
  height: 64px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  background-color: #000;
  border: 0;
  border-radius: 8px;
}
.join-visual {
  position: relative;
}
.join-visual .pic {
  width: 100%;
  height: 350px;
  margin-bottom: 30px;
}
.join-visual .pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.join-visual .txt h4 {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: 600;
}
.join-visual .txt p {
  margin-bottom: 40px;
}
.join-visual .txt a {
  font-size: 14px;
  line-height: 1;
  display: inline-block;
  padding: 12px 16px;
  font-weight: 600;
  color: #000;
  background-color: #c7b9ff;
  border-radius: 2px;
}
.join-sns {
  width: 100%;
}
.join-sns > h2 {
  font-size: 15px;
  line-height: 1;
  position: relative;
  margin-bottom: 20px;
  font-weight: 600;
  color: #000;
  text-align: center;
  text-transform: capitalize;
}
.join-sns > h2::before, .join-sns > h2::after {
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  display: block;
  width: 45%;
  height: 1px;
  background-color: #000;
  content: "";
}
.join-sns > h2::before {
  right: 0;
}
.join-sns > h2::after {
  left: 0;
}
.join-sns ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}
.join-sns ul li {
  cursor: pointer;
}
.join-sns ul li a {
  display: block;
  width: 64px;
  height: 64px;
}
.join-sns ul li a img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.youtube .page-title {
  line-height: 220px;
}
.youtube > p {
  font-size: 24px;
  line-height: 1;
  margin-bottom: 100px;
  text-align: center;
}
.youtube a {
  color: #000;
}
.youtube a:hover .pic {
  transform: translateY(-15px);
}
.youtube .pic {
  overflow: hidden;
  aspect-ratio: 16/9;
  transition: 0.3s;
}
.youtube .pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.youtube .video-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}
.youtube .video-main .text {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: 400px;
}
.youtube .video-main .text div {
  padding: 40px;
  background-color: #a359ff;
  border-radius: 40px;
}
.youtube .video-main .text div h2 {
  font-size: 24px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 20px;
  font-weight: 600;
}
.youtube .video-main .text div p {
  font-size: 15px;
  line-height: 1.4;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  margin-bottom: 80px;
}
.youtube .video-main .text span {
  font-size: 24px;
  line-height: 1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 20px 40px;
  font-weight: 600;
  background-color: #13a957;
  border-radius: 40px;
}
.youtube .video-main .pic {
  position: relative;
  border-radius: 40px;
}
.youtube .video-main .pic i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  line-height: 1;
  color: #ff2b87;
}
.youtube .video-main .pic::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: "";
  opacity: 0.6;
}
.youtube .config {
  display: flex;
  padding: 80px 0 100px;
  margin-bottom: 100px;
  color: #fff;
  background-color: #000;
}
.youtube .config .title {
  margin-bottom: 40px;
  text-align: center;
  filter: invert(1);
}
.youtube .config .row {
  justify-content: center;
}
.youtube .config .video-second {
  display: block;
  padding: 0 20px;
  margin-bottom: 80px;
}
.youtube .config .video-second .pic {
  margin-bottom: 20px;
  border-radius: 12px;
}
.youtube .config .video-second .text {
  width: 90%;
  color: #fff;
}
.youtube .config .video-second .text h2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 16px;
  font-weight: 600;
}
.youtube .config .video-second .text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 20px;
  opacity: 0.5;
}
.youtube .config .video-second .text span {
  font-size: 14px;
  line-height: 1;
  opacity: 0.2;
}
.youtube .video-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 100px;
}
.youtube .video-list > div {
  margin-bottom: 40px;
}
.youtube .video-list-item .pic {
  margin-bottom: 20px;
  border-radius: 12px;
}
.youtube .video-list-item .text {
  padding-right: 20px;
}
.youtube .video-list-item .text h2 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 8px;
  font-weight: 600;
}
.youtube .video-list-item .text p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 24px;
}
.youtube .video-list-item .text span {
  font-size: 12px;
  line-height: 1;
  font-weight: 600;
}
@media screen and (max-width: 1199px) {
  .youtube .page-title {
    font-size: 13vw;
    line-height: 220px;
  }
  .youtube .video-main .text {
    width: 200px;
  }
  .youtube .config {
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 750px) {
  .youtube .page-title {
    font-size: 13vw;
    line-height: 120px;
  }
  .youtube > P {
    font-size: 3.5vw;
    line-height: 1.4;
    margin-bottom: 60px;
  }
  .youtube .video-main {
    flex-wrap: wrap;
    margin-bottom: 60px;
  }
  .youtube .video-main .text {
    order: 2;
    width: 100%;
  }
  .youtube .video-main .text div p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    margin-bottom: 0;
  }
  .youtube .video-main .pic {
    order: 1;
  }
  .youtube .config {
    padding-bottom: 0;
  }
  .youtube .config .title video {
    width: 90%;
  }
}

.pop-video {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  padding: 5vw;
  background-color: rgba(0, 0, 0, 0.9);
}
.pop-video iframe {
  order: 2;
  width: 80%;
  margin: 0 auto;
  aspect-ratio: 16/9;
}
.pop-video .close {
  display: inline-block;
  order: 1;
  padding: 8px 12px;
  margin-bottom: 20px;
  font-size: 1.6vw;
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 8px;
}
@media screen and (max-width: 750px) {
  .pop-video .close {
    font-size: 3vw;
  }
}

.gallery {
  padding: 0 120px;
  margin-bottom: 200px;
}
.gallery a {
  color: #000;
}
.gallery a:hover .content-img {
  transform: translateY(-15px);
}
.gallery a:hover .title h2 {
  text-decoration: underline;
}
.gallery .content-img {
  position: relative;
  margin-bottom: 16px;
  overflow: hidden;
  background-color: #000;
  border-radius: 12px;
  transition: 0.3s;
}
.gallery .content-img img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.gallery .content-img.blog {
  padding-top: 55%;
  background-color: transparent;
}
.gallery .content-img.blog img {
  transform: scale(1.1);
  object-fit: cover;
}
.gallery .title {
  padding: 0 8px;
  margin-bottom: 20px;
}
.gallery .title h2 {
  font-size: 18px;
  line-height: 1.2;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  position: relative;
  margin-bottom: 4px;
  font-weight: 600;
}
.gallery .title p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.gallery .author {
  display: none;
}
.gallery .gallery-list:nth-of-type(1) {
  margin-bottom: 180px;
}
.gallery .gallery-list:nth-of-type(1) .gallery-list-blog article:nth-of-type(1) {
  grid-column: 1/3;
  grid-row: 1/3;
}
.gallery .gallery-list:nth-of-type(1) .gallery-list-blog article:nth-of-type(1) a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery .gallery-list:nth-of-type(1) .gallery-list-blog article:nth-of-type(1) .content-img {
  flex-grow: 1;
}
.gallery .gallery-list:nth-of-type(2) {
  margin-bottom: 180px;
}
.gallery .gallery-list:nth-of-type(2) > h2 {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 80px;
  text-align: center;
}
.gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(5) {
  grid-column: 3/5;
  grid-row: 1/3;
}
.gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(5) a {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(5) .content-img {
  flex-grow: 1;
}
.gallery .gallery-list-blog {
  display: grid;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 40px;
}
.gallery .gallery-list-tips {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.gallery .gallery-list-tips .content-img {
  padding-top: 70%;
}
@media screen and (max-width: 1199px) {
  .gallery {
    padding: 0 30px;
    margin-bottom: 100px;
  }
  .gallery .page-title {
    line-height: 200px;
  }
  .gallery .title h2 {
    font-size: 16px;
    line-height: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  .gallery .gallery-list:nth-of-type(1), .gallery .gallery-list:nth-of-type(2) {
    margin-bottom: 80px;
  }
  .gallery .gallery-list-blog {
    column-gap: 20px;
    row-gap: 30px;
  }
  .gallery .gallery-list-tips {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}
@media screen and (max-width: 750px) {
  .gallery {
    padding: 0 16px;
  }
  .gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
  .gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(1) a {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(1) .content-img {
    flex-grow: 1;
  }
  .gallery .gallery-list:nth-of-type(3) .gallery-list-blog article:nth-of-type(5) {
    grid-column: auto;
    grid-row: auto;
  }
  .gallery .gallery-list .gallery-list-blog {
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    row-gap: 12px;
  }
  .gallery .gallery-list .gallery-list-tips {
    grid-template-columns: repeat(2, 48%);
    column-gap: 4%;
    row-gap: 12px;
  }
}

.detail-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
}
.detail-page .wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 60px 0 40px;
  margin-top: 80px;
  overflow-y: scroll;
  background-color: #fff;
  border-radius: 12px 12px 0 0;
}
.detail-page .wrap .inner {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.detail-page .wrap a {
  color: #000;
}
.detail-page .content-img {
  flex-shrink: 0;
  order: 2;
  max-height: 500px;
  margin-bottom: 32px;
  overflow: hidden;
  background-color: #000;
  border-radius: 12px;
}
.detail-page .content-img img {
  display: block;
  height: 100%;
  margin: 0 auto;
  object-fit: contain;
}
.detail-page .content-img.blog img {
  width: 100%;
  object-fit: cover;
}
.detail-page .title {
  order: 3;
  padding: 0 8px;
}
.detail-page .title h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 20px;
  font-weight: 600;
}
.detail-page .title p {
  font-size: 15px;
  line-height: 1.4;
}
.detail-page .author {
  display: flex;
  align-items: center;
  order: 1;
  margin-bottom: 40px;
}
.detail-page .author .pic {
  width: 40px;
  height: 40px;
  margin-right: 12px;
  overflow: hidden;
  border: 2px solid #c7b9ff;
  border-radius: 50%;
}
.detail-page .author .pic img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.detail-page .author strong {
  display: block;
  font-size: 16px;
  line-height: 10px;
  margin-bottom: 4px;
  font-weight: 600;
}
.detail-page .author span {
  font-size: 14px;
  line-height: 1;
}
.detail-page .author time {
  font-size: 14px;
  line-height: 1;
  color: #3d3d4e;
}
.detail-page .close {
  position: absolute;
  top: 50px;
  right: 20px;
  color: #fff;
  cursor: pointer;
}

.careers .title {
  padding: 100px 0;
  background-color: #c7b9ff;
}
.careers .title .page-title {
  margin-bottom: 40px;
  line-height: 120px;
  text-align: left;
}

.contact .wrap {
  position: relative;
}
.contact .wrap::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 600px;
  background-image: url(../../img/bg_contact.png);
  background-repeat: repeat-x;
  background-size: contain;
  content: "";
}
.contact .container {
  position: relative;
}
.contact .container .page-title {
  display: flex;
  align-items: center;
  width: 100%;
  padding-top: 60px;
  line-height: 220px;
}
.contact .container .page-title::after {
  display: block;
  width: 20%;
  height: 88px;
  margin-left: 20px;
  background: url(../../img/marker.png) no-repeat;
  background-size: contain;
  content: "";
}
.contact #map {
  width: 100%;
  aspect-ratio: 16/9;
  border: 5px solid #000;
  margin-bottom: 100px;
}
.contact .location-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 100px;
}
.contact .location-info .location-list li {
  margin-bottom: 28px;
}
.contact .location-info .location-list li a {
  font-size: 32px;
  line-height: 1;
  position: relative;
  font-weight: 700;
  color: #000;
  opacity: 0.3;
}
.contact .location-info .location-list li a::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.2em;
  left: 0;
  width: 0;
  height: calc(1px + 0.1em);
  background: #000;
  transition: 0.2s;
}
.contact .location-info .location-list li.on a {
  opacity: 1;
}
.contact .location-info .location-list li.on a::after {
  width: 100%;
}
.contact .location-info .location-list li:hover a::after {
  width: 100%;
}
.contact .location-info .info-list .info-item {
  display: none;
}
.contact .location-info .info-list .info-item dt {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 12px;
}
.contact .location-info .info-list .info-item .adress-box {
  margin-right: 120px;
}
.contact .location-info .info-list .info-item .adress-box .address {
  font-size: 38px;
  line-height: 1.2;
  font-style: normal;
  font-weight: 700;
}
.contact .location-info .info-list .info-item .number {
  font-size: 32px;
  line-height: 1;
  margin-bottom: 56px;
  font-weight: 600;
}
.contact .location-info .info-list .info-item.on {
  display: flex;
}
@media screen and (max-width: 1199px) {
  .contact #map {
    margin-bottom: 60px;
  }
  .contact .location-info .location-list li a {
    font-size: 28px;
  }
  .contact .location-info .info-list {
    margin-right: 40px;
  }
  .contact .location-info .info-list .info-item {
    flex-direction: column;
  }
  .contact .location-info .info-list .info-item .adress-box {
    margin-right: 0;
    margin-bottom: 40px;
  }
  .contact .location-info .info-list .info-item .adress-box .address {
    font-size: 26px;
  }
  .contact .location-info .info-list .info-item .number {
    margin-bottom: 40px;
    font-size: 28px;
  }
}
@media screen and (max-width: 750px) {
  .contact .wrap::before {
    height: 84vw;
    background-size: cover;
  }
  .contact .container .page-title {
    justify-content: center;
    padding-top: 0;
    line-height: 160px;
  }
  .contact .container .page-title::after {
    width: 13%;
  }
  .contact #map {
    aspect-ratio: 4/3;
  }
  .contact .location-info {
    flex-direction: column;
  }
  .contact .location-info .location-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  .contact .location-info .location-list li a {
    font-size: 5.8vw;
  }
  .contact .location-info .info-list {
    margin-right: 0;
  }
  .contact .location-info .info-list .info-item .adress-box {
    margin-bottom: 20px;
  }
  .contact .location-info .info-list .info-item .number {
    margin-bottom: 20px;
  }
}

.main.visual {
  width: 100%;
  height: 800px;
  background-color: #a259ff;
}

/*# sourceMappingURL=style.css.map */
