@charset 'UTF-8';

@import 'base/reset';
@import 'base/base';
@import 'mixins/responsive';
@import 'mixins/typo';
@import 'base/mixin';

@import 'layouts/grid';
@import 'layouts/header';
@import 'layouts/footer';

@import 'layouts/sub';
@import 'layouts/sub_community';
@import 'layouts/sub_join';
@import 'layouts/sub_youtube';
@import 'layouts/sub_gallery';
@import 'layouts/sub_careers';
@import 'layouts/sub_contact';

.main.visual {
  width: 100%;
  height: 800px;
  background-color: #a259ff;
}
