#header_sub {
  $nav-hight: 80px;

  > .inner {
    height: $nav-hight;
    position: relative;
  }

  .logo {
    float: left;
    margin-top: 24px;

    a {
      display: block;
      width: 40px;
      height: 40px;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        display: block;
      }
    }
  }

  .menu-pc {
    float: right;

    .list {
      .item {
        float: left;
        line-height: $nav-hight;
        margin-left: 50px;

        a {
          @include font(18px);
          text-transform: capitalize;
        }

        &:not(:last-child) {
          a {
            color: #000;
            position: relative;
          }

          a::after {
            @include hover-after(50%);
          }
        }

        &:last-child {
          a {
            padding: 6px 20px;
            border: 2px solid #000;
            background: rgb(0, 0, 0, 0);
            border-radius: 100px;
            color: #000;
            transition: 0.3s;
          }
        }

        &:hover {
          &:not(:last-child) {
            a::after {
              width: 100%;
              left: 0;
            }
          }

          &:last-child a {
            background: rgb(0, 0, 0, 1);
            color: #fff;
          }
        }
      }
    }
  }

  .btn-call {
    @include center-y;
    display: none;
    right: 32px;
    position: absolute;
    width: 26px;
    height: 24px;
    z-index: $z-index-btn;

    &::before,
    &::after,
    span {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #000;
      left: 0;
    }

    &::before {
      content: '';
      top: 0;
      transition: top 0.1s 0.1s, transform 0.1s 0.2s;
    }

    &::after {
      content: '';
      bottom: 0;
      transition: bottom 0.1s 0.1s, transform 0.1s 0.2s;
    }

    span {
      text-indent: -9999px;
      top: calc(50% - 1px);
      opacity: 1;
      transition: 0.25s;
    }

    &:hover {
      &::before {
        top: calc(50% - 1px);
        transform: rotate(90deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(180deg);
      }

      span {
        opacity: 0;
      }
    }

    &.on {
      &::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &::after {
        bottom: calc(50% - 1px);

        transform: rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }
  }

  .menu-mo {
    display: none;

    &.on {
      display: block;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(255, 255, 255, 0.95);
      z-index: $z-index-mo;

      .list {
        padding: 80px 60px;

        .item {
          a {
            @include font(80px, 7.6rem);
            font-weight: 800;
            text-transform: uppercase;
            color: #000;
            position: relative;

            &::after {
              @include hover-after(0);
              bottom: 0;
            }
          }

          &:hover {
            a::after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  #header_sub {
    // padding: 0 $padding;

    .menu-pc {
      display: none;
    }

    .btn-call {
      display: block;
    }
  }
}

@media screen and (max-width: $mobile) {
  #header_sub .menu-mo.on .list {
    padding: $padding 0;
    .item a {
      font-size: 13.6vw;
      line-height: 1.3em;
    }
  }
}
