$tablet: 1199px;
$mobile: 750px;

$z-index-btn: 20;
$z-index-mo: 10;

$red: #f24e1e;
$yellow: #ffc702;
$green: #13a957;
$purple-light: #c7b9ff;
$grey-line: #dde2e7;
$grey-bg: #f7f7f7;

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}
