$tablet: 1179px;
$mobile: 640px;

$padding: 40px;
$padding-mo: 30px;
$z-index-btn: 20;
$z-index-mo: 10;

$red: #f24e1e;
$purple-light: #c7b9ff;
$grey-line: #dde2e7;
$grey-bg: #f7f7f7;

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}
