/* reset */
* {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', 'Pretendard', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
}

fieldset {
  border: 0;
}

button {
  border: 0;
  cursor: pointer;
}

input {
  box-shadow: none;
  appearance: none;
}

input:focus {
  outline: none;
}
