.footer {
  background-color: $grey-bg;

  .inner {
    width: 1200px;
    padding: 200px 20px;
    margin: 0 auto;
  }

  .wrap:nth-of-type(1) {
    @include clear-both;
    padding-bottom: 40px;
    margin-bottom: 40px;
    overflow: hidden;
    border-bottom: 1px solid #000;

    .footer-logo {
      float: left;
      width: 280px;

      .logo {
        display: block;
        width: 40px;
        height: 40px;
        margin-bottom: 20px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }

      p {
        @include font(15px, 1.4);
        margin-bottom: 12px;
      }

      strong {
        @include font(15px, 1.4);
        font-weight: 600;
      }
    }

    .footer-nav {
      float: right;

      .menu {
        float: left;

        .title {
          @include font(15px);
          margin-bottom: 20px;
          font-weight: 600;
          text-transform: uppercase;
        }

        .list .item {
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            @include font(15px);
            position: relative;
            color: #000;

            &::after {
              @include hover-after(0);
            }
          }

          &:hover {
            a::after {
              width: 100%;
            }
          }
        }

        &:nth-of-type(1) {
          margin-right: 100px;
        }
      }
    }
  }

  .wrap:nth-of-type(2) {
    .sns {
      float: right;

      li {
        float: left;
        margin-left: 20px;

        a {
          display: block;
          width: 24px;
          height: 24px;
          color: #000;

          i {
            @include font(18px, 24px);
            text-align: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .footer {
    .inner {
      width: 100%;
      padding: 120px 40px;
    }

    .wrap:nth-of-type(1) {
      .footer-logo {
        width: 100%;
        margin-bottom: 80px;

        p {
          @include font(16px, 1.4);
          width: 50%;
        }

        strong {
          @include font(16px, 1.4);
        }
      }

      .footer-nav {
        float: left;
        width: 100%;

        .menu {
          float: left;

          .title {
            @include font(15px);
            margin-bottom: 20px;
            font-weight: 600;
            text-transform: uppercase;
          }

          .list .item {
            margin-bottom: 20px;

            &:last-child {
              margin-bottom: 0;
            }

            a {
              @include font(15px);
              color: #000;
            }
          }

          &:nth-of-type(1) {
            margin-right: 100px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .footer {
    .wrap:nth-of-type(1) {
      .footer-logo p {
        width: 70%;
      }

      .footer-nav {
        .menu {
          width: 100%;
          margin-bottom: 60px;

          &:nth-of-type(1) {
            padding-bottom: 40px;
            margin-bottom: 40px;
            border-bottom: 1px solid #f4f5f6;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }

        &:nth-of-type(1) {
          margin-right: 0;
        }
      }
    }

    .wrap:nth-of-type(2) {
      .sns {
        float: none;
        margin-top: 20px;

        li {
          margin-right: 20px;
          margin-left: 0;
        }
      }
    }
  }
}
