.header {
  $nav-hight: 80px;

  .container {
    width: 100%;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: $nav-hight;
    padding: 0 40px;
  }

  .logo {
    a {
      display: block;
      width: 40px;
      height: 40px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  .menu-pc {
    .list {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .item {
        a {
          @include font(18px);
          text-transform: capitalize;
        }

        &:not(:last-child) {
          a {
            position: relative;
            color: #000;
          }

          a::after {
            @include hover-after(50%);
          }
        }

        &:last-child {
          transform: translateY(0);
          transition: transform 0.3s;

          a {
            padding: 6px 20px;
            color: #fff;
            background: #000;
            border: 2px solid #000;
            border-radius: 100px;
          }
        }

        &:hover,
        &.on {
          &:not(:last-child) {
            a::after {
              left: 0;
              width: 100%;
            }
          }

          &:last-child {
            transform: translateY(-4px);
          }
        }
      }
    }
  }

  .btn-call {
    position: relative;
    z-index: $z-index-btn;
    display: none;
    width: 26px;
    height: 24px;

    &::before,
    &::after,
    span {
      position: absolute;
      left: 0;
      display: block;
      width: 100%;
      height: 2px;
      background-color: #000;
    }

    &::before {
      top: 0;
      content: '';
      transition: top 0.1s 0.1s, transform 0.1s 0.2s;
    }

    &::after {
      bottom: 0;
      content: '';
      transition: bottom 0.1s 0.1s, transform 0.1s 0.2s;
    }

    span {
      top: calc(50% - 1px);
      text-indent: -9999px;
      opacity: 1;
      transition: 0.25s;
    }

    &:hover {
      &::before {
        top: calc(50% - 1px);
        transform: rotate(90deg);
      }

      &::after {
        bottom: calc(50% - 1px);
        transform: rotate(180deg);
      }

      span {
        opacity: 0;
      }
    }

    &.on {
      &::before {
        top: calc(50% - 1px);
        transform: rotate(45deg);
      }

      &::after {
        bottom: calc(50% - 1px);

        transform: rotate(-45deg);
      }

      span {
        opacity: 0;
      }
    }
  }

  .menu-mo {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-mo;
    display: none;
    width: 100%;
    height: 0;
    background-color: rgba(255, 255, 255, 0.95);
    transition: 0.3s ease;

    .list {
      display: none;
    }

    &.on {
      height: 100vh;

      .list {
        display: block;
        padding: 80px 60px;

        .item {
          a {
            @include font(80px, 7.6rem);
            position: relative;
            font-weight: 800;
            color: #000;
            text-transform: uppercase;

            &::after {
              @include hover-after(0);
              bottom: 0;
            }
          }

          &:hover {
            a::after {
              width: 100%;
            }
          }
        }
      }
    }
  }

  @include responsive(T) {
    .inner {
      padding: 0;
    }

    .menu-pc {
      display: none;
    }

    .btn-call {
      display: block;
    }

    .menu-mo {
      display: block;
    }
  }

  @include responsive(M) {
    .menu-mo.on .list {
      padding: 40px 20px;

      .item a {
        font-size: 13.6vw;
        line-height: 1.3em;
      }
    }
  }
}
