.content {
  .page-title {
    @include font(120px, 300px);
    font-weight: 800;
    text-align: center;
    text-transform: capitalize;
  }

  .pagination {
    @include center-x;
    position: absolute;

    &::after {
      @include clear-both;
    }

    li {
      float: left;
      margin-right: 10px;
      text-align: center;

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.on {
        a {
          color: #fff;
          background: #000;
          border-radius: 20px;
        }
      }

      a {
        display: block;
        @include font(20px);
        min-width: 32px;
        padding: 0 6px;
        line-height: 32px;
        color: #000;
      }

      &.prev,
      &.next {
        &:hover a {
          color: #000;
          background: none;
          border-radius: 0;
          opacity: 1;
        }

        a {
          padding: 0;
          font-size: 40px;
          opacity: 0.1;
        }
      }

      &.prev {
        margin-right: 10px;
        transform: rotate(180deg);
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .content {
    .page-title {
      font-size: 14vw;
    }

    .pagination {
      //1(prev), 12(next)
      @for $i from 7 through 11 {
        li:nth-child(#{$i}) {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  .content {
    .pagination {
      position: static;
      left: auto;
      transform: translateX(0);

      //1(prev), 12(next), tablet(7-11)
      @for $i from 2 through 6 {
        li:nth-child(#{$i}) {
          display: none;
        }
      }

      .prev {
        float: left;
      }

      .next {
        float: right;
      }
    }
  }
}
